{{ $manifest := dict }}
{{ with resources.Get "nifi-runtime-manifest.json" }}
  {{ with . | transform.Unmarshal }}
    {{ $manifest = . }}
  {{ end }}
{{ else }}
  not found
{{ end }}

{{ $detailsHeader := resources.Get "additional-details-header.md" }}

{{ range $manifest.bundles }}
  {{ range .componentManifest.controllerServices }}
    {{ $simpleClassName := replaceRE `.+?\.?([^\.]+)$` "$1" .type }}
    {{ $metadata := merge . (dict "title" $simpleClassName "componentType" "controller-services") }}
    {{ $string := jsonify $metadata }}
    {{ $filename := printf "components/%s/_index.md" .type }}
    {{ $resource := resources.FromString $filename $string }}
    {{ $file := $resource.RelPermalink }}

    {{ if .additionalDetails }}
      {{ $detailsMarkdownPath := printf "docs/%s/%s/%s/%s/additionalDetails.md" .group .artifact .version .type }}
      {{ $detailsResource := resources.Get $detailsMarkdownPath }}
      {{ $componentDetailsPath := printf "components/%s/additional-details.md" .type }}
      {{ $componentDetailsResource := slice $detailsHeader $detailsResource | resources.Concat $componentDetailsPath }}
      {{ $componentDetailsResource.Publish }}
    {{ end }}
  {{ end }}
  {{ range .componentManifest.processors }}
    {{ $simpleClassName := replaceRE `.+?\.?([^\.]+)$` "$1" .type }}
    {{ $metadata := merge . (dict "title" $simpleClassName "componentType" "processors") }}
    {{ $string := jsonify $metadata }}
    {{ $filename := printf "components/%s/_index.md" .type }}
    {{ $resource := resources.FromString $filename $string }}
    {{ $file := $resource.RelPermalink }}

    {{ if .additionalDetails }}
      {{ $detailsMarkdownPath := printf "docs/%s/%s/%s/%s/additionalDetails.md" .group .artifact .version .type }}
      {{ $detailsResource := resources.Get $detailsMarkdownPath }}
      {{ $componentDetailsPath := printf "components/%s/additional-details.md" .type }}
      {{ $componentDetailsResource := slice $detailsHeader $detailsResource | resources.Concat $componentDetailsPath }}
      {{ $componentDetailsResource.Publish }}
    {{ end }}
  {{ end }}
  {{ range .componentManifest.reportingTasks }}
    {{ $simpleClassName := replaceRE `.+?\.?([^\.]+)$` "$1" .type }}
    {{ $metadata := merge . (dict "title" $simpleClassName "componentType" "reporting-tasks") }}
    {{ $string := jsonify $metadata }}
    {{ $filename := printf "components/%s/_index.md" .type }}
    {{ $resource := resources.FromString $filename $string }}
    {{ $file := $resource.RelPermalink }}

    {{ if .additionalDetails }}
      {{ $detailsMarkdownPath := printf "docs/%s/%s/%s/%s/additionalDetails.md" .group .artifact .version .type }}
      {{ $detailsResource := resources.Get $detailsMarkdownPath }}
      {{ $componentDetailsPath := printf "components/%s/additional-details.md" .type }}
      {{ $componentDetailsResource := slice $detailsHeader $detailsResource | resources.Concat $componentDetailsPath }}
      {{ $componentDetailsResource.Publish }}
    {{ end }}
  {{ end }}
  {{ range .componentManifest.parameterProviders }}
    {{ $simpleClassName := replaceRE `.+?\.?([^\.]+)$` "$1" .type }}
    {{ $metadata := merge . (dict "title" $simpleClassName "componentType" "parameter-providers") }}
    {{ $string := jsonify $metadata }}
    {{ $filename := printf "components/%s/_index.md" .type }}
    {{ $resource := resources.FromString $filename $string }}
    {{ $file := $resource.RelPermalink }}

    {{ if .additionalDetails }}
      {{ $detailsMarkdownPath := printf "docs/%s/%s/%s/%s/additionalDetails.md" .group .artifact .version .type }}
      {{ $detailsResource := resources.Get $detailsMarkdownPath }}
      {{ $componentDetailsPath := printf "components/%s/additional-details.md" .type }}
      {{ $componentDetailsResource := slice $detailsHeader $detailsResource | resources.Concat $componentDetailsPath }}
      {{ $componentDetailsResource.Publish }}
    {{ end }}
  {{ end }}
  {{ range .componentManifest.flowAnalysisRules }}
    {{ $simpleClassName := replaceRE `.+?\.?([^\.]+)$` "$1" .type }}
    {{ $metadata := merge . (dict "title" $simpleClassName "componentType" "flow-analysis-rules") }}
    {{ $string := jsonify $metadata }}
    {{ $filename := printf "components/%s/_index.md" .type }}
    {{ $resource := resources.FromString $filename $string }}
    {{ $file := $resource.RelPermalink }}

    {{ if .additionalDetails }}
      {{ $detailsMarkdownPath := printf "docs/%s/%s/%s/%s/additionalDetails.md" .group .artifact .version .type }}
      {{ $detailsResource := resources.Get $detailsMarkdownPath }}
      {{ $componentDetailsPath := printf "components/%s/additional-details.md" .type }}
      {{ $componentDetailsResource := slice $detailsHeader $detailsResource | resources.Concat $componentDetailsPath }}
      {{ $componentDetailsResource.Publish }}
    {{ end }}
  {{ end }}
{{ end }}
