target
.project
.settings
.classpath
nbactions.xml
nb-configuration.xml
.DS_Store
.metadata
.recommenders

*.swp

# Intellij
.idea/
*.iml
*.iws
*~

# nifi site
nbproject/
bower_components/
dist/
node_modules/
.sass-cache
.ruby-version
package-lock.json

# hugo
/public
/resources
/.hugo_build.lock
