AddType  text/turtle             .ttl

AddType  application/rdf+xml     .rdf
AddType  application/ld+json     .jsonld
AddType  application/n-triples   .nt
AddType  application/owl+xml     .owl

AddType  text/trig               .trig
AddType  application/n-quads     .nq

# Redirect component documentation to latest version
RedirectMatch ^/docs/nifi-docs/components/org.apache.nifi/([^/]+)/[^/]+/(.*) "/docs/nifi-docs/components/org.apache.nifi/$1/1.16.3/$2"

RewriteEngine on
# Switch http to https
RewriteCond     %{HTTPS} !=on
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
