---
title: Powered by NiFi - Companies &amp; Organizations using Apache NiFi
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Powered by Apache <span class="ni">ni</span><span class="fi">fi</span>
            </span>
        </h1>
    </div>
</div>
</div>
<div class="row">
    <p class="description">Below is a sample of companies and organisations using Apache NiFi</p>
</div>
<div class="row">
    <div class="large-12 columns">
        <table>
            <tr>
                <th>Company / Organization</th>
                <th>Industry</th>
                <th>Summary</th>
            </tr>
	    <tr>
		<td><a href="https://macquarietelecomgroup.com">Macquarie Telecom Group</td>
                <td>Cloud and Telecommunications</td>
                <td>Uses Apache NiFi to securely and reliably transfer, transform, enrich and deliver billions of
                individual events per day (i.e. security logs, system metrics, aggregated data sets, etc) across
                multiple datacenters.</td>
            </tr>
            <tr>
                <td><a href="http://www.dovestech.com">Dovestech</td>
                <td>Cyber Security</td>
                <td>Dovestech's cyber security visualization product, <a href="http://www.dovestech.com/threatpop">ThreatPop</a>
, uses Apache NiFi to enrich and
normalize millions of cyber security related events into a central database
which allows customers to interact with cyber security events through game
engine visualization technology.
            </tr>
            <tr>
                <td><a href="http://www.flexilogix.com">Flexilogix</td>
                <td>Big Data / IoT</td>
		<td></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
    <p>To add yourself to this list, submit a pull request to <a href="https://github.com/apache/nifi-site/">nifi-site</a> or
    send an email to the users mailing list with the organization name, industry and a brief description on how Apache NiFi
    is used to help your organization.</p>
    </div>
</div>
