body {
  color: #262626;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  font-size: .8rem;
  background-color: #fff;
  padding: 20px 0px 20px 0px;
}

a {
  color: #004849;
}

a:hover {
  color: #004849;
}

.uk-navbar-nav > li > a {
  text-transform: none;
  color: #004849;
}

.uk-navbar-nav > li > a:hover {
  color: rgba(0, 72, 73, 0.75);
}

.uk-button {
  text-transform: none;
  border-radius: 10px;
}

.uk-button-primary {
  background-color: #004849;
}

a:hover.uk-button-primary {
  background-color: #728e9b;
}

.uk-button-default {
  border: 1px solid #838b92;
}

.uk-icon-link {
  color: #004849;
}

a:hover.uk-icon-link {
  color: #728e9b;
}

.main-background {
  background-image: linear-gradient(120deg,
    rgba(185, 198, 205, 1) 0%,
    rgba(185, 198, 205, 0.75) 20%,
    rgba(185, 198, 205, 0) 100%
  );
}

img.navbar-logo {
  width: 36px;
  max-width: 36px;
  height: 48px;
}

.navbar-icon svg {
  max-width: 40px;
}

.main-container {
  flex: 1;
}

.footer-logo {
  max-width: 150px;
}

.process-group {
  width: 385px;
  min-width: 385px;
  background-color: #fff;
}

.process-group-header {
  background-color: #b8c6cd;
  padding: 6px 8px;
  font-size: .85rem;
}

.process-group-status {
  background-color: #e3e8eb;
  padding: 2px 8px;
  font-size: .95rem;
}

.process-group-status-counter {
  color: #775351;
  padding: 0px 6px 0px 0px;
  font-size: .95rem;
}

.process-group-status-icon {
  color: #a9bdc6;
}

.process-group-play-enabled {
  color: #7dc7a0;
}

.process-group-statistics {
  font-size: .75rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #775351;
}

.process-group-statistics-label {
  color: #262626;
  width: 75px;
}

.process-group-statistics td {
  padding: 2px 8px;
}

.process-group-statistics-duration {
  color: #728e9b;
}

.process-group-connection {
  width: 225px;
  min-width: 225px;
  height: 70px;
  background: #fff;
}

.process-group-connection-statistics {
  font-size: .75rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #775351;
}

.process-group-connection-statistics td {
  padding: 2px 8px;
}

.process-group-connection-label {
  color: #262626;
  width: 75px;
}

.process-group-connection-container {
  width: 385px;
  height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-relationship {
  border-top: 1px solid #000;
  width: 100px;
  min-width: 100px;
  height: 1px;
}

.vertical-relationship {
  height: 100px;
  width: 192px;
  border-right: 1px solid #000;
}

.flow-second-row {
  margin-top: -55px;
  margin-left: 88px;
}

.flow-third-row {
  margin-top: -52px;
}

.flow-summary {
  width: 450px;
  font-size: 1.5em;
}

.flow-container {
  min-height: 90vh;
  padding-bottom: 40px;
}

.background-logo {
  z-index: -1;
  margin-left: -100px;
  opacity: 0.25;
}

.standard-card {
  border: 1px solid #728e9b;
  border-radius: 10px;
}

.standard-card .uk-card-body {
  padding: 20px;
}

.download-primary {
  width: 120px;
}

iframe.documentation-container {
  width: 100%;
  height: 100%;
}
