<footer class="uk-text-center">
  <div class="uk-margin-small-bottom">
    <a class="uk-link-reset" href="/">
      <img src="/images/apache-nifi-logo.svg" class="footer-logo" alt="Apache NiFi Logo"/>
    </a>
    <a class="uk-link-reset" href="https://apache.org">
      <img src="/images/apache-logo.svg" class="footer-logo uk-margin-left" alt="Apache Software Foundation Logo"/>
    </a>
  </div>
  <div class="uk-margin-left uk-margin-right">
    <div>
      Copyright &copy; {{ now.Year }} {{ .Site.Copyright }} under the terms of the
      <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>
    </div>
    <div>Apache NiFi, NiFi, and the NiFi logo are trademarks of <a href="https://apache.org/">The Apache Software
      Foundation</a></div>
  </div>
</footer>
