<footer>
  <div class="uk-container">
    <div class="uk-flex uk-grid uk-grid-large">
      <div class="uk-width-1-2@m">
        <p>
          <a class="uk-link-reset" href="/">
            <img src="/images/apache-nifi-logo.svg" class="footer-logo" alt="Apache NiFi Logo"/>
          </a>
          <a class="uk-link-reset" href="https://apache.org">
            <img src="/images/apache-logo.svg" class="footer-logo uk-margin-left" alt="Apache Software Foundation Logo"/>
          </a>
        </p>
        <p>
          Copyright &copy; {{ now.Year }} {{ .Site.Copyright }} under the terms of the
          <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>
        </p>
        <p>
          Apache NiFi, NiFi, and the NiFi logo are trademarks of
          <a href="https://apache.org/">The Apache Software Foundation</a>
        </p>
      </div>
      <div class="uk-width-1-4@m">
        <h3><a href="/">Project</a></h3>
        <ul>
          <li><a href="https://issues.apache.org/jira/browse/NIFI">Issues</a></li>
          <li><a href="https://github.com/apache/nifi">Source</a></li>
          <li><a href="https://www.linkedin.com/company/apache-nifi/">LinkedIn</a></li>
          <li><a href="https://join.slack.com/t/apachenifi/shared_invite/zt-2ccusmst2-l2KrTzJLrGcHOO0V7~XD4g">Slack</a></li>
          <li><a href="https://nifi.apache.org/documentation/security/">Security</a></li>
        </ul>
      </div>
      <div class="uk-width-1-4@m">
        <h3><a href="https://www.apache.org/">Apache</a></h3>
        <ul>
          <li><a href="https://www.apache.org/licenses/">License</a></li>
          <li><a href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy</a></li>
          <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
          <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
