<div>
  <nav class="uk-container uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-navbar-item" href="/">
            <img src="/images/apache-nifi-drop-logo.svg" alt="Apache NiFi Logo" class="navbar-logo" width="36" height="48" />
          </a>
        </li>

        {{- $page := . -}}
        {{ range .Site.Menus.main }}
        {{ if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }}
        <li class="uk-active">
          {{- else -}}
        <li>
          {{- end }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <div class="uk-navbar-item">
            <a class="uk-icon-link navbar-icon" uk-icon="icon: github; ratio: 2" href="{{ .Site.Params.repositoryUrl }}"></a>
          </div>
        </li>
        <li>
          <div class="uk-navbar-item">
            <a class="uk-button uk-button-primary uk-icon" href="/download/">
              Download
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>