RewriteEngine on

# Redirect HTTP to HTTPS
RewriteCond     %{HTTPS} !=on
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

# Redirect component documentation to specified version
RewriteRule ^docs/nifi-docs/components/org\.apache\.nifi/([^\/]+?)/[^\/]+?/(.*)$ docs/nifi-docs/components/org.apache.nifi/$1/1.17.0/$2 [L]
