RewriteEngine on

# Redirect HTTP to HTTPS
RewriteCond     %{HTTPS} !=on
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

# Redirect component documentation to specified version
RewriteRule ^docs/nifi-docs/components/org\.apache\.nifi/([^\/]+?)/[^\/]+?/(.*)$ docs/nifi-docs/components/org.apache.nifi/$1/1.24.0/$2 [L]

# Rewrite historical links
RewriteRule ^quickstart\.html$ /documentation/v2/ [L,R]
RewriteRule ^developer-guide\.html$ /documentation/guides/ [L,R]
RewriteRule ^release-guide\.html$ /documentation/guides/releases/ [L,R]
RewriteRule ^licensing-guide\.html$ /documentation/guides/licensing/ [L,R]
RewriteRule ^docs\.html$ /documentation/v2/ [L,R]
RewriteRule ^download\.html$ /download/ [L,R]
RewriteRule ^faq\.html$ /documentation/ [L,R]
RewriteRule ^fds\.html$ /projects/fds/ [L,R]
RewriteRule ^mailing_lists\.html$ /community/contact/ [L,R]
RewriteRule ^people\.html$ /community/ [L,R]
RewriteRule ^powered-by-nifi\.html$ /community/powered-by/ [L,R]
RewriteRule ^project-documentation\.html$ /documentation/v2/ [L,R]
RewriteRule ^registry-security\.html$ /documentation/security/ [L,R]
RewriteRule ^registry\.html$ /projects/registry/ [L,R]
RewriteRule ^security\.html$ /documentation/security/ [L,R]
RewriteRule ^videos\.html$ /documentation/ [L,R]
