{{- $primaryDownloadUrl := (.Site.Params.dynamicDownloadPathUrl) -}}
{{- $secondaryDownloadUrl := (.Site.Params.downloadPathUrl) -}}

{{- if eq (.Get "site") "archives" -}}
  {{- $primaryDownloadUrl = (.Site.Params.archiveDownloadPathUrl) -}}
  {{- $secondaryDownloadUrl = (.Site.Params.archiveDownloadPathUrl) -}}
{{- end -}}

{{- $downloadVersion := "" -}}
{{- with .Get "version" -}}
  {{- $downloadVersion = . -}}
{{- end -}}

{{- $downloadFilePath := (print "nifi-fds/nifi-fds-" $downloadVersion "/nifi-fds-" $downloadVersion "-source-release.zip") -}}

<div class="uk-margin-top">
  <a class="uk-button uk-button-primary uk-button-small" 
    title="nifi-{{ $downloadVersion }}-source-release.zip" 
    href="{{ $primaryDownloadUrl }}/{{ $downloadFilePath }}">{{ .Get "label" }} {{ $downloadVersion }}</a>
  <a class="uk-button uk-button-default uk-button-small" 
    href="{{ $secondaryDownloadUrl }}/{{ $downloadFilePath }}.asc">OpenPGP</a>
  <a class="uk-button uk-button-default uk-button-small" 
    href="{{ $secondaryDownloadUrl }}/{{ $downloadFilePath }}.sha256">SHA-256</a>
  <a class="uk-button uk-button-default uk-button-small" 
    href="{{ $secondaryDownloadUrl }}/{{ $downloadFilePath }}.sha512">SHA-512</a>
</div>
