name: build

on:
  push:
    branches:
      - main-staging
      - main

env:
  PUBLISH_DIRECTORY: public

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
      - name: Checkout Staging
        if: github.ref_name == 'main-staging'
        uses: actions/checkout@v4
        with:
          ref: asf-staging
          path: ${{ env.PUBLISH_DIRECTORY }}
      - name: Checkout Production
        if: github.ref_name == 'main'
        uses: actions/checkout@v4
        with:
          ref: asf-site
          path: ${{ env.PUBLISH_DIRECTORY }}
      - name: Install Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.154.2'
      - name: Prepare
        working-directory: ${{ env.PUBLISH_DIRECTORY }}
        run: |
          rm -rf stylesheets
      - name: Build
        run: |
          bash prebuild.sh
          hugo
      - name: Publish
        working-directory: ${{ env.PUBLISH_DIRECTORY }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Published changes from $GITHUB_SHA"
          git push
