<div class="process-group-connection uk-box-shadow-small">
  <table class="uk-table uk-table-divider process-group-connection-statistics">
    <tr>
      <td class="process-group-connection-label">
        From
      </td>
      <td>
        <span class="uk-text-bold">success</span>
      </td>
      <td class="uk-text-right">
        <i class="fa-regular fa-play process-group-play-enabled"></i>
      </td>
    </tr>
    <tr>
      <td class="process-group-connection-label">
        To
      </td>
      <td>
        <span class="uk-text-bold">filtered</span>
      </td>
      <td class="uk-text-right">
        <i class="fa-regular fa-play process-group-play-enabled"></i>
      </td>
    </tr>
    <tr>
      <td class="process-group-connection-label">
        Queued
      </td>
      <td>
        <span class="uk-text-bold">0</span> (0 bytes)
      </td>
      <td></td>
    </tr>
  </table>
</div>