{{ $groups := getJSON .Site.Params.apacheFoundationGroupsUrl }}
{{ $people := getJSON .Site.Params.apacheFoundationPeopleNameUrl }}

{{- $project := "nifi" -}}
{{- with .Get "project" -}}
  {{- $project = . -}}
{{- end -}}

{{ $members := index $groups $project }}

{{- with .Get "exclude-project" -}}
  {{ $excluded := index $groups . }}
  {{ $members = complement $excluded $members }}
{{- end -}}

<table class="project-members">
  <thead>
    <tr>
      <th>Apache Username</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  {{- range $username := $members -}}
    {{ $name := index $people $username }}
    <tr>
      <td>{{ $username }}</td>
      <td>{{ $name }}</td>
    </tr>
  {{- end }}
  </tbody>
</table>
