---
title: Apache NiFi - MiNiFi Downloads
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Apache <span class="ni">ni</span><span class="fi">fi</span> <span class="minifi">minifi</span> Downloads
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p>To verify the downloads please follow these <a href="https://www.apache.org/info/verification.html">procedures</a>
            using these <a href="https://www.apache.org/dist/nifi/KEYS">KEYS</a></p>
        <p>If a download is not found please allow up to 24 hours for the mirrors to sync.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h2>Releases</h2>
        <h3>MiNiFi (Java)</h3>
        <ul>
          <li>0.5.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/minifi/0.5.0/minifi-0.5.0-source-release.zip">minifi-0.5.0-source-release.zip</a>
                            ( <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-source-release.zip.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-source-release.zip.sha1">sha1</a>,
                              <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-source-release.zip.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/minifi/0.5.0/minifi-0.5.0-bin.tar.gz">minifi-0.5.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-bin.tar.gz.sha1">sha1</a>,
                              <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-bin.tar.gz.sha256">sha256</a> )
                          </li>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/minifi/0.5.0/minifi-0.5.0-bin.zip">minifi-0.5.0-bin.zip</a>
                            ( <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-bin.zip.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-bin.zip.sha1">sha1</a>,
                              <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-0.5.0-bin.zip.sha256">sha256</a> )
                      </ul>
                  </li>

                  <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Version0.5.0">Release Notes</a></li>
              </ul>
          </li>
          <li>0.4.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-source-release.zip">minifi-0.4.0-source-release.zip</a>
                            ( <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-source-release.zip.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-source-release.zip.sha1">sha1</a>,
                              <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-source-release.zip.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          <li><a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.tar.gz">minifi-0.4.0-bin.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.tar.gz.sha1">sha1</a>,
                              <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.tar.gz.sha256">sha256</a> )
                          </li>
                          <li><a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.zip">minifi-0.4.0-bin.zip</a>
                            ( <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.zip.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.zip.sha1">sha1</a>,
                              <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-0.4.0-bin.zip.sha256">sha256</a> )
                      </ul>
                  </li>

          <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Version0.4.0">Release Notes</a></li>
              </ul>
          </li>
        </ul>
        <h3>MiNiFi C++</h3>
        <ul>
          <li>cpp-0.7.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-0.7.0-source.tar.gz">nifi-minifi-cpp-0.7.0-source.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-0.7.0-source.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-0.7.0-source.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          Centos 7 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-centos-0.7.0-bin.tar.gz">nifi-minifi-cpp-centos-0.7.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-centos-0.7.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-centos-0.7.0-bin.tar.gz.sha256">sha256</a> )
                          </li>
                          Debian 9 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-debian-0.7.0-bin.tar.gz">nifi-minifi-cpp-debian-0.7.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-debian-0.7.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-debian-0.7.0-bin.tar.gz.sha256">sha256</a> )
                          </li>
                          Fedora 29 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-fedora-0.7.0-bin.tar.gz">nifi-minifi-cpp-fedora-0.7.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-fedora-0.7.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-fedora-0.7.0-bin.tar.gz.sha256">sha256</a> )
                          </li>
                          MSFT Windows - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp.msi">nifi-minifi-cpp-0.7.0.msi</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp.msi.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp.msi.sha256">sha256</a> )
                          </li>
                          OS X  - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-osx-0.7.0-bin.tar.gz">nifi-minifi-cpp-osx-0.7.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-osx-0.7.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-osx-0.7.0-bin.tar.gz.sha256">sha256</a> )
                          </li>

                          Ubuntu 16 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-xenial-0.7.0-bin.tar.gz">nifi-minifi-cpp-xenial-0.7.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-xenial-0.7.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-xenial-0.7.0-bin.tar.gz.sha256">sha256</a> )
                          </li>
                           Ubuntu 18 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-bionic-0.7.0-bin.tar.gz">nifi-minifi-cpp-bionic-0.7.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-bionic-0.7.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.7.0/nifi-minifi-cpp-bionic-0.7.0-bin.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
          <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Versioncpp-0.7.0">Release Notes</a></li>
              </ul>
          </li>
        </ul>
        <ul>
          <li>cpp-0.6.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0-source.tar.gz">nifi-minifi-cpp-0.6.0-source.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0-source.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0-source.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0-source.tar.gz.sha512">sha512</a> )
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          Centos 7 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-0.6.0-bin.tar.gz">nifi-minifi-cpp-centos-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                          Debian 9 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-0.6.0-bin.tar.gz">nifi-minifi-cpp-debian-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                          Fedora 29 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-0.6.0-bin.tar.gz">nifi-minifi-cpp-fedora-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                          MSFT Windows - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0.msi">nifi-minifi-cpp-0.6.0.msi</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0.msi.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0.msi.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-0.6.0.msi.sha512">sha512</a> )
                          </li>
                          OS X  - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-0.6.0-bin.tar.gz">nifi-minifi-cpp-osx-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                          
                          Ubuntu 16 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-0.6.0-bin.tar.gz">nifi-minifi-cpp-xenial-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                           Ubuntu 18 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-0.6.0-bin.tar.gz">nifi-minifi-cpp-bionic-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>

                      </ul>
                  </li>
                  
                  <li>
                      Binaries With JNI Support
                      <ul>
                          Centos 7 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-jni-0.6.0-bin.tar.gz">nifi-minifi-cpp-centos-jni-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-jni-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-jni-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-centos-jni-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                          Debian 9 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-0.6.0-bin.tar.gz">nifi-minifi-cpp-debian-jni-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-jni-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-jni-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-debian-jni-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                          Fedora 29 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-jni-0.6.0-bin.tar.gz">nifi-minifi-cpp-fedora-jni-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-jni-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-jni-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-fedora-jni-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                          MSFT Windows - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-jni-0.6.0.msi">nifi-minifi-cpp-jni-0.6.0.msi</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-jni-0.6.0.msi.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-jni-0.6.0.msi.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-jni-0.6.0.msi.sha512">sha512</a> )
                          </li>
                          OS X  - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-jni-0.6.0-bin.tar.gz">nifi-minifi-cpp-osx-jni-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-jni-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-jni-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-osx-jni-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                           Ubuntu 16 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-jni-0.6.0-bin.tar.gz">nifi-minifi-cpp-xenial-jni-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-jni-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-jni-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-xenial-jni-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                           Ubuntu 18 - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-jni-0.6.0-bin.tar.gz">nifi-minifi-cpp-bionic-jni-0.6.0-bin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-jni-0.6.0-bin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-jni-0.6.0-bin.tar.gz.sha256">sha256</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.6.0/nifi-minifi-cpp-bionic-jni-0.6.0-bin.tar.gz.sha512">sha512</a> )
                          </li>
                        
                      </ul>
                  </li>

          <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Versioncpp-0.6.0">Release Notes</a></li>
              </ul>
          </li>
        </ul>
        <ul>
          <li>cpp-0.5.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-source.tar.gz">nifi-minifi-cpp-0.5.0-source.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-source.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-source.tar.gz.sha1">sha1</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-source.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          Linux - RHEL Based Distributions - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-rhel.tar.gz">nifi-minifi-cpp-0.5.0-bin-linux-rhel.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-rhel.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-rhel.tar.gz.sha1">sha1</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-rhel.tar.gz.sha256">sha256</a> )
                          </li>
                          Linux - Debian Based Distributions - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-debian.tar.gz">nifi-minifi-cpp-0.5.0-bin-linux-debian.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-debian.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-debian.tar.gz.sha1">sha1</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-linux-debian.tar.gz.sha256">sha256</a> )
                          </li>
                          Darwin (OS X)
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-darwin.tar.gz">nifi-minifi-cpp-0.5.0-bin-darwin.tar.gz</a>
                            ( <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-darwin.tar.gz.asc">asc</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-darwin.tar.gz.sha1">sha1</a>,
                              <a href="https://www.apache.org/dist/nifi/nifi-minifi-cpp/0.5.0/nifi-minifi-cpp-0.5.0-bin-darwin.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>

          <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Versioncpp-0.5.0">Release Notes</a></li>
              </ul>
          </li>
        </ul>
        <ul>
          <li>cpp-0.4.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-source.tar.gz">nifi-minifi-cpp-0.4.0-source.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-source.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-source.tar.gz.sha1">sha1</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-source.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                      <ul>
                        <i><b>Note</b>: If you experience any issues with building, please try removing Scanner.cpp, Parser.hpp, Parser.cpp, *.hh from the extensions/expression-language folder and rebuild</i>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          Linux - RHEL Based Distributions - x86_64
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-rhel.tar.gz">nifi-minifi-cpp-0.4.0-bin-linux-rhel.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-rhel.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-rhel.tar.gz.sha1">sha1</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-rhel.tar.gz.sha256">sha256</a> )
                          </li>
                          Linux - Debian Based Distributions - x86_64
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-debian.tar.gz">nifi-minifi-cpp-0.4.0-bin-linux-debian.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-debian.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-debian.tar.gz.sha1">sha1</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-linux-debian.tar.gz.sha256">sha256</a> )
                          </li>
                          Darwin (OS X)
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-darwin.tar.gz">nifi-minifi-cpp-0.4.0-bin-darwin.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-darwin.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-darwin.tar.gz.sha1">sha1</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.4.0/nifi-minifi-cpp-0.4.0-bin-darwin.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>

          <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Versioncpp-0.4.0">Release Notes</a></li>
              </ul>
          </li>
        </ul>
        <h3>MiNiFi Toolkit Binaries</h3>
        <ul>
          <li>0.5.0 - Compatible with MiNiFi Java & C++ 0.5.0+
            <ul>
              <li>
                <a href="https://www.apache.org/dyn/closer.lua?path=/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.tar.gz">minifi-toolkit-0.5.0-bin.tar.gz</a>
                ( <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.tar.gz.asc">asc</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.tar.gz.sha1">sha1</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.tar.gz.sha256">sha256</a> )
              </li>
              <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.zip">minifi-toolkit-0.5.0-bin.zip</a>
                ( <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.zip.asc">asc</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.zip.sha1">sha1</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-toolkit-0.5.0-bin.zip.sha256">sha256</a> )
              </li>
            </ul>
          </li>
          <li>0.4.0 - Compatible with MiNiFi Java & C++ 0.4.0+
            <ul>
              <li>
                <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.tar.gz">minifi-toolkit-0.4.0-bin.tar.gz</a>
                ( <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.tar.gz.asc">asc</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.tar.gz.sha1">sha1</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.tar.gz.sha256">sha256</a> )
              </li>
              <li><a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.zip">minifi-toolkit-0.4.0-bin.zip</a>
                ( <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.zip.asc">asc</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.zip.sha1">sha1</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-toolkit-0.4.0-bin.zip.sha256">sha256</a> )
              </li>
            </ul>
          </li>
        </ul>
        <h3>MiNiFi Command and Control Server Binaries</h3>
        <ul>
          <li>0.5.0
            <ul>
              <li>
                <a href="https://www.apache.org/dyn/closer.lua?path=/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.tar.gz">minifi-c2-0.5.0-bin.tar.gz</a>
                ( <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.tar.gz.asc">asc</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.tar.gz.sha1">sha1</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.tar.gz.sha256">sha256</a> )
              </li>
              <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.zip">minifi-c2-0.5.0-bin.zip</a>
                ( <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.zip.asc">asc</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.zip.sha1">sha1</a>,
                  <a href="https://www.apache.org/dist/nifi/minifi/0.5.0/minifi-c2-0.5.0-bin.zip.sha256">sha256</a> )
              </li>
            </ul>
          </li>
          <li>0.4.0
            <ul>
              <li>
                <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.tar.gz">minifi-c2-0.4.0-bin.tar.gz</a>
                ( <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.tar.gz.asc">asc</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.tar.gz.sha1">sha1</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.tar.gz.sha256">sha256</a> )
              </li>
              <li><a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.zip">minifi-c2-0.4.0-bin.zip</a>
                ( <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.zip.asc">asc</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.zip.sha1">sha1</a>,
                  <a href="https://archive.apache.org/dist/nifi/minifi/0.4.0/minifi-c2-0.4.0-bin.zip.sha256">sha256</a> )
              </li>
            </ul>
          </li>
        </ul>
    </div>
</div>
