---
title: Apache NiFi - MiNiFi Downloads
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Apache <span class="ni">ni</span><span class="fi">fi</span> <span class="minifi">minifi</span> Downloads
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p>To verify the downloads please follow these <a href="https://www.apache.org/info/verification.html">procedures</a>
            using these <a href="https://downloads.apache.org/nifi/KEYS">KEYS</a></p>
        <p>If a download is not found please allow up to 24 hours for the mirrors to sync.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h2>Releases</h2>
        <h3>MiNiFi (Java)</h3>
        <ul>
          <li>1.15.2
              <ul>
                      Sources:
                      <ul>
                          <li><a href="http://nifi.apache.org/download.html">Source comes from NiFi</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/1.15.2/minifi-1.15.2-bin.tar.gz">minifi-1.15.2-bin.tar.gz</a>
                            ( <a href="https://downloads.apache.org/nifi/1.15.2/minifi-1.15.2-bin.tar.gz.asc">asc</a>,
                              <a href="https://downloads.apache.org/nifi/1.15.2/minifi-1.15.2-bin.tar.gz.sha256">sha256</a> )
                          </li>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/1.15.2/minifi-1.15.2-bin.zip">minifi-1.15.2-bin.zip</a>
                            ( <a href="https://downloads.apache.org/nifi/1.15.2/minifi-1.15.2-bin.zip.asc">asc</a>,
                              <a href="https://downloads.apache.org/nifi/1.15.2/minifi-1.15.2-bin.zip.sha256">sha256</a> )
                      </ul>
                  </li>

                  <li><a href="https://cwiki.apache.org/confluence/display/NIFI/Release+Notes#ReleaseNotes-Version1.15.2">Release Notes</a></li>
              </ul>
          </li>
        </ul>
        <h3>MiNiFi C++</h3>
        <ul>
          <li>cpp-0.11.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.11.0/nifi-minifi-cpp-0.11.0-source.tar.gz">nifi-minifi-cpp-0.11.0-source.tar.gz</a>
                            ( <a href="https://downloads.apache.org/nifi/nifi-minifi-cpp/0.11.0/nifi-minifi-cpp-0.11.0-source.tar.gz.asc">asc</a>,
                              <a href="https://downloads.apache.org/nifi/nifi-minifi-cpp/0.11.0/nifi-minifi-cpp-0.11.0-source.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          Linux (CentOS 7, Debian 10, Fedora 34, Ubuntu 20.04) - x86_64
                          <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/nifi-minifi-cpp/0.11.0/nifi-minifi-cpp-0.11.0-bin-linux.tar.gz">nifi-minifi-cpp-0.11.0-bin-linux.tar.gz</a>
                            ( <a href="https://downloads.apache.org/nifi/nifi-minifi-cpp/0.11.0/nifi-minifi-cpp-0.11.0-bin-linux.tar.gz.asc">asc</a>,
                              <a href="https://downloads.apache.org/nifi/nifi-minifi-cpp/0.11.0/nifi-minifi-cpp-0.11.0-bin-linux.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
		  <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Versioncpp-0.11.0">Release Notes</a></li>
              </ul>
          </li>
          <br/>
          <li>cpp-0.10.0
              <ul>
                  <li>
                      Sources:
                      <ul>
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-source.tar.gz">nifi-minifi-cpp-0.10.0-source.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-source.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-source.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
                  <li>
                      Binaries
                      <ul>
                          Centos 8 - x86_64
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-centos-8-x64.tar.gz">nifi-minifi-cpp-0.10.0-bin-centos-8-x64.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-centos-8-x64.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-centos-8-x64.tar.gz.sha256">sha256</a> )
                          </li>
                          Debian 10 - x86_64
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-debian-buster-x64.tar.gz">nifi-minifi-cpp-0.10.0-bin-debian-buster-x64.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-debian-buster-x64.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-debian-buster-x64.tar.gz.sha256">sha256</a> )
                          </li>
                          Fedora 34 - x86_64
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-fedora-34-x64.tar.gz">nifi-minifi-cpp-0.10.0-bin-fedora-34-x64.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-fedora-34-x64.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-fedora-34-x64.tar.gz.sha256">sha256</a> )
                          </li>
                          Ubuntu 20.04 - x86_64
                          <li><a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-ubuntu-focal-x64.tar.gz">nifi-minifi-cpp-0.10.0-bin-ubuntu-focal-x64.tar.gz</a>
                            ( <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-ubuntu-focal-x64.tar.gz.asc">asc</a>,
                              <a href="https://archive.apache.org/dist/nifi/nifi-minifi-cpp/0.10.0/nifi-minifi-cpp-0.10.0-bin-ubuntu-focal-x64.tar.gz.sha256">sha256</a> )
                          </li>
                      </ul>
                  </li>
		  <li><a href="https://cwiki.apache.org/confluence/display/MINIFI/Release+Notes#ReleaseNotes-Versioncpp-0.10.0">Release Notes</a></li>
              </ul>
          </li>
        </ul>
        <h3>MiNiFi Toolkit Binaries</h3>
        <ul>
          <li>1.15.2
            <ul>
              <li>
                <a href="https://www.apache.org/dyn/closer.lua?path=/nifi/1.15.2/minifi-toolkit-1.15.2-bin.tar.gz">minifi-toolkit-1.15.2-bin.tar.gz</a>
                ( <a href="https://downloads.apache.org/nifi/1.15.2/minifi-toolkit-1.15.2-bin.tar.gz.asc">asc</a>,
                  <a href="https://downloads.apache.org/nifi/1.15.2/minifi-toolkit-1.15.2-bin.tar.gz.sha256">sha256</a> )
              </li>
              <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/1.15.2/minifi-toolkit-1.15.2-bin.zip">minifi-toolkit-1.15.2-bin.zip</a>
                ( <a href="https://downloads.apache.org/nifi/1.15.2/minifi-toolkit-1.15.2-bin.zip.asc">asc</a>,
                  <a href="https://downloads.apache.org/nifi/1.15.2/minifi-toolkit-1.15.2-bin.zip.sha256">sha256</a> )
              </li>
            </ul>
          </li>
        </ul>
        <h3>MiNiFi Command and Control Server Binaries</h3>
        <ul>
          <li>1.15.2
            <ul>
              <li>
                <a href="https://www.apache.org/dyn/closer.lua?path=/nifi/1.15.2/minifi-c2-1.15.2-bin.tar.gz">minifi-c2-1.15.2-bin.tar.gz</a>
                ( <a href="https://downloads.apache.org/nifi/1.15.2/minifi-c2-1.15.2-bin.tar.gz.asc">asc</a>,
                  <a href="https://downloads.apache.org/nifi/1.15.2/minifi-c2-1.15.2-bin.tar.gz.sha256">sha256</a> )
              </li>
              <li><a href="https://www.apache.org/dyn/closer.lua?path=/nifi/1.15.2/minifi-c2-1.15.2-bin.zip">minifi-c2-1.15.2-bin.zip</a>
                ( <a href="https://downloads.apache.org/nifi/1.15.2/minifi-c2-1.15.2-bin.zip.asc">asc</a>,
                  <a href="https://downloads.apache.org/nifi/1.15.2/minifi-c2-1.15.2-bin.zip.sha256">sha256</a> )
              </li>
            </ul>
          </li>
        </ul>
    </div>
</div>
